alembic==1.4.3
aniso8601==8.0.0
bcrypt==3.2.0
blinker==1.4
boto3==1.18.29
botocore==1.21.29
cffi==1.14.2
circlify==0.13
click==7.1.2
cycler==0.10.0
dnspython==2.0.0
email-validator==1.1.1
Flask==1.1.2
Flask-Admin==1.5.6
Flask-Bcrypt==0.7.1
Flask-HTTPAuth==4.4.0
Flask-JWT-Extended==3.25.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
flask-marshmallow==0.13.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
kiwisolver==1.3.1
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.8.0
marshmallow-sqlalchemy==0.23.1
matplotlib==3.4.3
numpy==1.21.2
Pillow==7.2.0
psycopg2-binary==2.9.1
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.19.0
python-editor==1.0.4
pytz==2020.1
s3transfer==0.5.0
simplejson==3.17.2
six==1.15.0
SQLAlchemy==1.3.19
urllib3==1.26.6
Werkzeug==1.0.1
WTForms==2.3.3
