{% extends "layout.html"%}

{%block content%}
<div class="container">
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <label >{{form.price.label}}</label>
        {{ form.price(class="form-control") }}
        <label >{{form.cat_of_purchase.label}}</label>
        {{ form.cat_of_purchase(class="form-control") }}
        <br>
        {{ form.submit(type="submit", class="btn btn-primary",value="Add") }}
    </form>
</div>

{% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>

{% endfor %}

{%endblock%}