{% extends "layout.html"%}

{%block content%}
<div class="container">
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <label >new?</label>
        {{ form.new_category(class="form-control") }}
        <label >name</label>
        {{ form.name(class="form-control") }}
        <label >Main Category</label>
        {{ form.main_category(class="form-control") }}


        {{ form.submit(type="submit", class="btn btn-primary",value="Add") }}
    </form>
</div>

{% for field, errors in form.errors.items() %}
<div class="alert alert-error">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>

{% endfor %}
<div>
    {%for cat in present_cat%}
        {{cat.name}}<br>
        {{cat.subcategories}}<br>
    {%endfor%}
</div>
{%endblock%}