{% extends "layout.html"%}

{%block content%}
<div class="row">
    <div class="col-md-8">
        <div class="content-section main-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add Category</legend>

                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {{ form.name(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.main_category.label(class="form-control-label") }}
                        {{ form.main_category(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group mt-2">
                        {{ form.submit(class="btn btn-outline-dark btn-lg") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="content-section main-section">
            {%for cat in main_categories%}
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse{{loop.index}}" aria-expanded="false"
                                aria-controls="collapseOne">
                            {{cat.name}}
                        </button>

                    </h2>

                    <div id="collapse{{loop.index}}" class="accordion-collapse collapse " aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body border bg-secondary">
                            {{cat.name}}

                            <button type="button" class="btn fas fa-trash p-0" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"
                                    data-bs-whatever="{{cat.name}}">
                            </button>
                        </div>
                        {%for subcat in cat.users_subcategories(cat.name,curr_user=current_user)%}
                        <div class="accordion-body border">
                            <div>
                                <span>{{subcat}}</span>
                                <button type="button" class="btn fas fa-trash p-0" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        data-bs-whatever="{{subcat}}">
                                </button>
                            </div>
                        </div>
                        {%endfor%}
                    </div>

                </div>


            </div>
            {%endfor%}

        </div>
    </div>


    <!--{% for field, errors in form.errors.items() %}-->
    <!--<div class="alert alert-error">-->
    <!--    {{ form[field].label }}: {{ ', '.join(errors) }}-->
    <!--</div>-->

    <!--        {% endfor %}-->
    <!--        <div>-->
    <!--            {%for cat in main_categories%}-->
    <!--            {{cat.name}}<br>-->
    <!--            {{cat.users_subcategories(cat.name,current_user)}}<br>-->
    <!--            {%endfor%}-->
    <!--        </div>-->
    <!--        </div>-->
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want to delete whole
                    category ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <form method="POST" id="del-form">
                    {{ form.hidden_tag() }}
                    <input class="btn btn-secondary" type="submit" value="Delete">
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back
                </button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var exampleModal = document.getElementById('exampleModal')
exampleModal.addEventListener('show.bs.modal', function (event) {
  var button = event.relatedTarget
  var form = document.getElementById('del-form')
  form.action={{url_for('category.del_cat',name=cat_to_del)}} + button.getAttribute('data-bs-whatever')
})



</script>
{%endblock%}