FLASK_ENV=development

POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB=flask_sptracker


S3_BUCKET_NAME=""
S3_KEY=""
S3_REGION_NAME=""

S3_SECRET_ACCESS_KEY=""

SECRET_KEY=""


DATABASE_URL="db"
